body{
    background-image: url("img/pexels-taryn-elliott-3889928.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header{
    background-color: #483BE7;
    color: white;
}
 
.headmd{
    padding-bottom: 4rem;
}

.corps{
    display: flex;
    flex-direction:column;
   align-items:center;
   justify-content: center;
   padding-top: 10rem;
}


.titremd{
    display: flex;
   justify-self: center;
   
}

input.recherche {
    background-color:#C4C4C4;
    color:white;
    opacity: 0.7;
    border-radius: 2em;
}

.ville{
    padding-bottom: 3rem;
}

.prévisions{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 3em;
    color: white;
}
 .rechercher{
 padding-top: 10rem;
 margin-left: 4rem;
 border-radius: 2em;
 }

 .temps{
     padding-bottom: 1rem;
 }

 .recherchersm{
    margin-left: 3rem;
    border-radius: 2em;
 }

 .lh{
     background-image: url("img/meteo_nuageux.jpeg.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     border-radius: 1em;
 }
 
 .papeete{
     background-image: url("img/meteo_nuit.jpeg.jpg");
     /* background-repeat: no-repeat; */
     background-position: center;
     background-size: cover;
     border-radius: 1em;
 }

 .paris{
     background-image: url("img/ensoleillé.jpeg.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     border-radius: 1em;
 }

 .marseille{
     background-image: url("img/soleil.jpeg.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     border-radius: 1em;
 }
 
 .bolbec{
     background-image: url("img/Feuille_dautomne.jpeg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     border-radius: 1em;
 }
 
 @media screen and (max-width: 900px) {
     body{
         text-align: center
 }
