.header {
    background-color: #483BE7;
    color: white;
}

body{

    background-image: url("img/metero_nuageux.jpg");
    background-position: center;
    background-size: cover;
}

input.recherche {

    background-color: #c4c4c4;

}

.ville {


}

.troisjours{
background-color: rgba(255,255, 255, 0.4);
border-radius: 2rem;

}

/* @media screen and (max-width:900px) and (max-height:1082px) and (orientation:landscape){

    .container1{
        display:none;
    }
    .tempjour{
        display: none;
    }
}

/* @media screen and (orientation:landscape){
    .container1{
        display:none;
    }
    .tempjour{
        display: none;
    }
} */

/* @media screen and (min-width: 900px) not (orientation:landscape){
    .containertablette{
        display: none;
    }
    }

    @media screen and (orientation:landscape){
    .separation{
        display: none;
    }
}

@media screen and (min-width: 900px) and (orientation:landscape){
    .container1{
        display:;
    }
    .tempjour{
        display: none;
    }
} */ 

@media screen and (max-width:900px){
    .container1{
        display:none;
    }
    .tempjour{
        display: none;
    }
}

@media screen and (min-width: 1100px){
    .containertablette{
        display: none;
    }
    }

    @media screen and (orientation:landscape){
    .separation{
        display: none;
    }
}

@media screen and (orientation:landscape) and (max-width:1100px){
    .container1{
        display:none;
    }
    .tempjour{
        display: none;
    }
}
@media screen {
    
}